.promo {
    min-height: 680px;
    padding: 39px 0 68px 0;
    background: url('../img/main-bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            max-width: 100%;
        }
    }
    &__nav {
        width: 540px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    &__link {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &-offer {
        margin-top: 56px;
        position: relative;
        min-height: 569px;
        display: flex;
        justify-content: space-between;
    }
    &-offer__header {
        margin-top: 106px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        line-height: 48px;
    }
    &-offer__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 27px;
        span {
            font-weight: 400;
        }
    }
    &-offer__wrapper {
        max-width: 530px;
    }
    &-offer__img {
        max-height: 100%;
        position: absolute;
        right: 0;
        bottom: -68px;
    }
}