.solutions {
    padding: 79px 0 61px 0;
    background: url('../../img/second-bg.jpg') center (center / cover) no-repeat;
    .container {
        position: relative;
    }
    &__tabs {
        max-width: 843px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        border: 1px solid #fff;
        border-radius: 4px;
    }
    &__tab {
        width: 16.6%;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;
        position: relative;
        line-height: 50px;
        transition: 0.2s all;
        &:hover {
            color: rgba(255,255,255,0.6);
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            height: 90%;
            background-color: #808482;
            right: 0;
            bottom: 5%;
        }
        &:last-child:after {
            display: none;
        }
        &_active {
            color: #00c2f0;
            font-weight: 700;
            &:hover {
                color: #00c2f0;
            }
        }
    }
    &__carousel {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        margin-top: 35px;
            img {
                width: 100%;
            }
    }
    &__inner {
        transition: 0.3s all;
        display: flex;
    }
    &__arrow {
        height: 60px;
        width: 18px;
        position: absolute;
        cursor: pointer;
    }
    &__arrow-prev {
        background: url('../../img/second-slider/prev-arrow.png') center (center / cover) no-repeat;
        top: 55%;
        left: 0;
    }
    &__arrow-next {
        background: url('../../img/second-slider/next-arrow.png') center (center / cover) no-repeat;
        top: 55%;
        right: 0;
    }

}